---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2
  class="text-2xl font-bold text-gray-900 dark:text-white pt-4 pb-4 text-center"
>
  {t("resultsNumber")}
  <span id="results-number"></span>
</h2>

<div
  class="flex w-full flex-col md:flex-row md:justify-between md:items-center px-2 gap-8"
>
  <div class="w-full">
    <label
      for="order-label"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >
      {t("orderLabel")}:</label
    >
    <select
      id="order-select"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="1">{t("orderSelectOption1")}</option>
      <option value="2">{t("orderSelectOption2")}</option>
      <option value="3">{t("orderSelectOption3")}</option>
      <option value="4">{t("orderSelectOption4")}</option>
    </select>
  </div>

  <div>
    <label
      for="export-label"
      class="block text-sm font-medium text-gray-700 dark:text-white"
      >{t("exportLabel")}:</label
    >
    <div
      id="export-select"
      class="mt-4 inline-flex rounded-md shadow-sm"
      role="group"
    >
      <button
        type="button"
        id="export-json-button"
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
      >
        JSON</button
      >

      <button
        type="button"
        id="export-csv-button"
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
      >
        CSV</button
      >

      <button
        type="button"
        id="export-xlsx-button"
        class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
      >
        XLSX</button
      >
    </div>
  </div>
</div>
