---
import ResultsOrderExport from "./ResultsOrderExport.astro";

const { pageContent } = Astro.props;
---

<div
    id="results-success"
    class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 w-full max-w-full md:min-w-[800px] hidden"
>
    <ul id="results-list" class="divide-y divide-gray-200 dark:divide-gray-700">
    </ul>

    <ResultsOrderExport pageContent={pageContent}/>
</div>
