---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<details class="block w-full max-w-[600px] mb-[100px]">
  <summary
    class="cursor-pointer p-3 font-medium rtl:text-right text-gray-500 border border-gray-400 rounded-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
    >{t("useSummary")}</summary
  >
  <div class="p-3">
    <p class="mb-2 text-gray-500 dark:text-gray-400">
      {t("useExplication")}
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400">
      {t("useResults")}
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400 ml-4">
      {t("useGreen")}
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400 ml-4">
      {t("useYellow")}
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400 ml-4">
      {t("userRed")}
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400">
      {t("useInfoStatusCode")}
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
        target="_blank">🔗</a
      >.
    </p>
    <p class="mb-2 text-gray-500 dark:text-gray-400">
      {t("useVisitGitHub")}
    </p>
  </div>
</details>
