---
import { getLangFromUrl, currentLocale } from "@i18n/utils";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Link Inspector home page." />
    <title>Link Inspector</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <slot class="grow" />
    <Footer />
    <script
      defer
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>
