---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
const langUrl = getLangFromUrl(Astro.url);
---

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="https://github.com/antikorps/link_inspector"
      class="flex items-center space-x-3 rtl:space-x-reverse"
      target="_blank"
    >
      <img src="/link_inspector_logo.svg" class="h-8" alt="Link Inspector" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Link Inspector</span
      >
    </a>
    <div
      class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse"
    >
      <select
        id="lang-select"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        {
          Object.entries(languages).map(([lang, label]) => (
            <option value={lang} selected={lang === langUrl ? true : undefined}>
              {label}
            </option>
          ))
        }
      </select>
    </div>
  </div>
</nav>
