---
import esData from "../data/es.json";
import enData from "../data/en.json";
import frData from "../data/fr.json";
import type { LanguageTemplate } from "../types/index.d.ts";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Head from "../components/Head.astro";

const es: LanguageTemplate = esData as LanguageTemplate;
const en: LanguageTemplate = enData as LanguageTemplate;
const fr: LanguageTemplate = frData as LanguageTemplate;

export async function getStaticPaths() {
    return [
        { params: { lang: "es" } },
        { params: { lang: "en" } },
        { params: { lang: "fr" } },
    ];
}

const { lang } = Astro.params;

const translations: Record<string, LanguageTemplate> = {
    es: es,
    en: en,
    fr: fr,
};

const pageContent = translations[lang];
const languages = Object.keys(translations);
---

<!doctype html>
<html lang={lang}>
   <Head></Head>
    <body>
        <Navbar languages={languages} translations={translations}></Navbar>
        <Main pageContent={pageContent}></Main>
        <Footer></Footer>
    </body>
</html>
