
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content={`0;url=es}`} />
  <title>Redirección</title>
</head>
<body>
  <noscript>
    <p>You must enable JavaScript in your browser // Debes habilitar JavaScript en el navegador</p>
    <p><a href="/es">Pulsa aquí si el navegador no te redirecciona...</a></p>
  </noscript>
  <script>
    const languagePreference = localStorage.getItem("linkInspectorLanguage")
    if (languagePreference == null) {
      window.location.href = "/es"
    } else {
      window.location.href = `/${languagePreference}`
    }
  </script>
</body>
</html>
