---
import Layout from '../layouts/Layout.astro';
import UploadFileForm from '../components/UploadFileForm';
---

<Layout title="Link Inspector">
	<main class="bg-slate-200 dark:bg-slate-800 flex maw-w-screen w-full min-h-screen justify-center align-center">
		<div class="flex flex-col items-center justify-center max-w-prose gap-16">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white">Link Inspector</h1>
    <UploadFileForm client:load />
    	</div>
	</main>
</Layout>


