---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/HeroSection.astro";
import { UploadFileForm } from "@components/UploadFileForm";
import { LinksList } from "@components/LinksList";
import { getLangFromUrl } from "@i18n/utils";

export function getStaticPaths() {
  return [
    { params: { lang: "es" } },
    { params: { lang: "en" } },
    { params: { lang: "fr" } },
  ];
}
const lang = getLangFromUrl(Astro.url);
---

<Layout title="Link Inspector">
  <main class="bg-white dark:bg-gray-900 flex grow justify-center p-10">
    <div class="flex flex-col items-center w-full">
      <HeroSection />
      <div class="w-full max-w-md flex flex-col justify-center gap-4 md:gap-12">
        <UploadFileForm lang={lang} client:load />
        <LinksList lang={lang} client:load />
      </div>
    </div>
  </main>
</Layout>
