---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FileUploadForm from "../components/FileUploadForm.astro";
import Results from "../components/Results.astro";
import UseExplication from "../components/UseExplication.astro";

export function getStaticPaths() {
  return [
    { params: { lang: "es" } },
    { params: { lang: "en" } },
    { params: { lang: "fr" } },
  ];
}
---

<Layout title="Link Inspector">
  <main
    class="bg-white dark:bg-gray-900 flex grow justify-center items-center p-10"
  >
    <div class="flex flex-col items-center justify-center gap-16 w-full">
      <HeroSection />
      <FileUploadForm />
      <Results />
      <UseExplication />
    </div>
  </main>
</Layout>
